@font-face {
    font-family: 'infer-dashicon';
    src:    url('../fonts/icomoon.eot?hrsqxx');
    src:    url('../fonts/icomoon.eot?hrsqxx#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?hrsqxx') format('truetype'),
        url('../fonts/icomoon.woff?hrsqxx') format('woff'),
        url('../fonts/icomoon.svg?hrsqxx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

#adminmenu .toplevel_page_form_monitor div.wp-menu-image:before {
    content: "\e900";
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'infer-dashicon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.toplevel_page_form_monitor .wrap .infer-banner:before {
    content: "\e901";
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'infer-dashicon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: #fff;
    font-size: 50px;
    line-height: 90px;
}

