.toplevel_page_form_monitor .wrap {
  padding-top: 90px;
}
.toplevel_page_form_monitor .wrap .infer-banner {
  height: 90px;
  line-height: 110px;
  background: url(../img/infer-banner.png) repeat center center;
  position: absolute;
  top: 0;
  left: -20px;
  width: 100%;
  padding: 0 0 0 20px;
}
.toplevel_page_form_monitor .wrap .infer-banner a {
  text-decoration: none;
  transition: opacity 1s;
}
.toplevel_page_form_monitor .wrap .infer-banner a:hover {
  opacity: 0.5;
}
.toplevel_page_form_monitor .wrap h2 {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 60px;
  margin: 0 0 20px;
  color: #222222;
}
.toplevel_page_form_monitor .wrap h2 a {
  float: right;
  font-size: 12px;
  font-weight: 600;
  padding-left: 22px;
  background: url(../img/icon-download.png) no-repeat center left;
  text-decoration: none;
}
.toplevel_page_form_monitor .wrap p {
  color: #808080;
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 45px;
  max-width: 900px;
}
.toplevel_page_form_monitor .wrap #plupload-upload-ui p.upload-flash-bypass {
  display: none;
}
.toplevel_page_form_monitor .wrap #plupload-upload-ui #drag-drop-area {
  border: 2px dashed #b0bec5;
  border-radius: 10px;
  background-color: #fafafa;
  width: 100%;
  height: 140px;
  cursor: pointer;
  position: relative;
  margin: 0 0 10px;
}
.toplevel_page_form_monitor .wrap #plupload-upload-ui #drag-drop-area .drag-drop-inside {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 14px;
  font-weight: 700;
  color: #bec7cb;
  padding-top: 72px;
  width: 98px;
  height: 85px;
  text-align: center;
  background: url(../img/icon-csv.png) no-repeat top center;
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
}
.toplevel_page_form_monitor .wrap #plupload-upload-ui #drag-drop-area .drag-drop-inside p {
  display: none;
}
.toplevel_page_form_monitor .wrap #plupload-upload-ui.errorJsValidation #drag-drop-area {
  background-color: #f7e9e9;
  border-color: red;
}
.toplevel_page_form_monitor .wrap p.max-upload-size {
  display: none;
}
.toplevel_page_form_monitor .wrap #media-items {
  margin: 0 0 30px;
}
.toplevel_page_form_monitor .wrap #media-items .media-item a {
  display: none;
}
.toplevel_page_form_monitor .wrap .postbox h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 20px;
  padding: 15px 12px;
  border-bottom: 1px solid #c9ced0;
}
.toplevel_page_form_monitor .wrap .postbox p {
  margin: 20px 0 10px;
  font-size: 14px;
  color: #222;
}
.toplevel_page_form_monitor .wrap .postbox input[type="text"],
.toplevel_page_form_monitor .wrap .postbox input[type="email"] {
  width: 100%;
  line-height: 38px;
  height: 40px;
  border: 1px solid #c9ced0;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: inset 1px 1.732px 5px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 15px;
}
.toplevel_page_form_monitor .wrap .postbox input[type="text"].errorJsValidation,
.toplevel_page_form_monitor .wrap .postbox input[type="email"].errorJsValidation {
  border-color: red;
}
.toplevel_page_form_monitor .wrap .postbox label {
  color: #222;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
}
.toplevel_page_form_monitor .wrap .postbox button {
  border-radius: 3px;
  border: 0;
  background: #fa9b00;
  height: 40px;
  line-height: 40px;
  padding: 0 35px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.toplevel_page_form_monitor .wrap .postbox.about p strong {
  color: #215d73;
}
.toplevel_page_form_monitor .wrap .postbox.about ul li {
  color: #215d73;
  list-style: disc inside;
}
.toplevel_page_form_monitor .wrap .postbox.about ul li a {
  text-decoration: none;
}
.toplevel_page_form_monitor .wrap table {
  border: 2px solid #e6e6e6;
  background-color: #fff;
  width: 100%;
  margin-bottom: 15px;
}
.toplevel_page_form_monitor .wrap table td {
  color: #222;
  font-size: 14px;
  padding: 15px 25px;
}
.toplevel_page_form_monitor .wrap table td.result {
  text-align: center;
}
.toplevel_page_form_monitor .wrap table td.result span {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0 2px;
}
.toplevel_page_form_monitor .wrap table td.result span.form_online {
  background-color: #81c784;
}
.toplevel_page_form_monitor .wrap table td.result span.form_offline {
  background-color: #f8e05d;
}
.toplevel_page_form_monitor .wrap table td.result span.form_not_present {
  background-color: #ff7043;
}
.toplevel_page_form_monitor .wrap table td.result span.url_offline {
  background-color: #bb502e;
}
.toplevel_page_form_monitor .wrap table tr:nth-of-type(2n+2) {
  background-color: #f9f9f9;
}
.toplevel_page_form_monitor .wrap table.registered td:last-of-type:not(:first-of-type) {
  text-align: right;
}
.toplevel_page_form_monitor .wrap table.registered td:last-of-type:not(:first-of-type) a {
  text-decoration: none;
  color: #aaa;
}
.toplevel_page_form_monitor .wrap p.error-message {
  color: red;
}
.toplevel_page_form_monitor .wrap .row {
  padding: 0;
  margin: 0 -10px;
  box-sizing: border-box;
  max-width: 1200px;
}
.toplevel_page_form_monitor .wrap .row .first-column {
  width: 65%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}
.toplevel_page_form_monitor .wrap .row .second-column {
  width: 35%;
  box-sizing: border-box;
  float: right;
  padding: 0 10px;
}
.toplevel_page_form_monitor .wrap a {
  color: #4d99b5;
  transition: color 0.5s;
}
.toplevel_page_form_monitor .wrap a:hover {
  color: #215d73;
}
